.failedContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  height: 400px;
  margin: 2rem;
  border: 0.1rem solid red;
  border-radius: 20px;
  background-color: rgba(255, 0, 0, 0.036);
}

.failedContainer button {
  margin-top: 70px;
  padding: 1rem;
}
