.checked {
  background-color: #6246ea;
  color: white;
}

.nochecked {
  background-color: white;
}

.radioButton {
  width: 150px;
}

.radioButton:hover {
  background-color: #6246ea;
}

.radioButton:focus {
  background-color: #6246ea;
}

.collapseButton {
  width: 150px;
  background-color: color3;
}

.collapseButton:hover {
  background-color: black;
}

.collapseButton:focus {
  background-color: #6246ea;
}

.clearFilters {
  width: 150px;
}

.clearFilters:hover {
  background-color: #000000;
}

.clearFilters:focus {
  background-color: #6246ea;
}

.categoriesBarContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.collapseContainer {
  padding: 1rem 0;
}
