.imgList {
  width: 60px;
}

.tableResponsive {
  overflow-x: auto;
}

.adminFilterContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.1rem;
}

.adminFilterButton {
  width: 150px;
}

.buttonsProductList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  margin: 2rem 1rem;
}

@media screen and (max-width: 600px) {
  .buttonsProductList {
    padding: 0;
  }
}
