.cardsMainContainer {
  display: flex;
  flex-direction: row;

  gap: 1rem;
  padding: 1rem;
}

.cardsContainer {
  gap: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sortsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.sortContainer {
  display: block;
  padding: 1rem;
  text-align: left;
}

.filtersContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
}

.filterBrandContainer {
  border: 0.1px solid rgb(113, 111, 111);
  border-radius: 10px;
  padding: 0.5rem;
}

@media screen and (max-width: 800px) {
  .cardsMainContainer {
    display: flex;
    flex-direction: column;
  }
}
