.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 800px;
  margin: 50px auto auto;
}

.items {
  display: flex;
  align-items: center;
  flex-direction: row;
  border-bottom: 1px solid #438a00;
  justify-content: space-between;
}

.headers {
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 10px;
}

.product {
  display: flex;
  align-items: center;
}
