.product {
  display: flex;
  align-items: center;
}

.cartImg {
  height: 80px;
}

.noFoundTitle {
  padding: 6rem;
}

.imgCart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartItem {
  margin-top: 100px;
}

.cartTable {
  overflow-x: auto;
}
