.container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.containerRow {
  justify-content: space-around;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.containerColumn {
  height: 100%;
  width: 30rem;
  display: flex;
  flex-direction: column;
}

.containerColumn2 {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.specs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.description {
  text-align: justify;
}

.row {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

.button3 {
  width: 100%;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reviewsMainContainer {
  padding: 1rem;
  margin: 0.5rem;
  text-align: start;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.reviewContainer {
  padding: 1rem;
  margin: 0.3rem;
}

.reviewUserName p {
  font-size: 20px;
  font-style: italic;
  font-weight: 600;
}

.reviewText {
  padding: 1rem;
}

.reviewRating p {
  margin: 0;
}
